# Arquivo README de ajuda
HELP.md

# Diretórios de build gerados pelo Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos de configuração de IDEs (Spring Tool Suite - STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Arquivos de configuração do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Excluir builds gerados em pastas específicas
!**/src/main/**/build/
!**/src/test/**/build/

# Configurações do Visual Studio Code
.vscode/

# Arquivo de propriedades do Spring (não deve ser versionado em produção)
src/main/resources/application.properties

